@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&family=Shrikhand&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "roboto", sans-serif;
}

main {
  padding: 0 7rem;

  @media (max-width : 1000px) {

    padding: 0 0rem;

  }

}

h2 {
  padding: 2rem 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;

}

h3,
p {
  margin: 0;

}